p {
  font-family: 'Roboto', sans-serif;
}


.post-container {
  width: 50%;
  height: 100%;
  margin: 30px auto;
  padding: 20px 0;
}

.post {
  margin: 30px 0;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.post:first-of-type {
  margin: 0;
}

.post-header {
  display: flex;
  margin-bottom: 10px;
  padding: 20px 0 0;
}

.main-image {
  width: 100%;
}

.thumbnail-img {
  height: 10%;
  width: 10%;
  border-radius: 50%;
  margin: 0px 20px 5px;
}

.header-username {
  padding-top: 5px;
}

.username {
  font-weight: bold;
}

.likes-container {
  padding-left: 7px;
  margin: 0;
}

.likes-heart {
  width: 5%;
  margin-bottom: 10px;
  padding-left: 5px
}

.likes-comment {
  width: 8%;
  padding-top: 5px
}
